/.idea/
*.pdf
__pycache__/
submission.zip
Exercise 2 Convolutional Neural Network/src_to_implement/plots/TestConvNet_on_digit_data.jpg
Exercise 2 Convolutional Neural Network/src_to_implement/plots/TestNeuralNetwork2.jpg
Exercise 2 Convolutional Neural Network/src_to_implement/plots/TestNeuralNetwork2_ADAM.jpg
Exercise 2 Convolutional Neural Network/src_to_implement/plots/TestNeuralNetwork2_Momentum.jpg
log.txt
/Exercise 4 PyTorch Challenge/src_to_implement/images
*.zip
